.popup
{
    width: 400px;
    background-color: #009688;
    border-radius: 6px;
    position: absolute;
    top: -30%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: azure;
    display: block;
    transition: top 1s;
}
.popup img
{
    width: 100px;
    margin-top: -50px;
}
.popup h2
{
    font-size: 30px;
    font-weight: 500;
    margin: -10px 0 30px;
}
.popup button
{
    width: 40%;
    padding: 10px 0;
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 0 15px;
}
 